/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif; /* Setzt die Schriftart auf Arial */
  background-color: #121212; /* Dunkler Hintergrund */
  color: #ffffff; /* Weiße Schriftfarbe */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Füllt die gesamte Höhe des Viewports */
}

.container {
  background-color: #1e1e1e; /* Dunkler Container-Hintergrund */
  padding: 2rem;
  border-radius: 8px; /* Abgerundete Ecken */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Schatteneffekt */
  max-width: 400px; /* Maximale Breite */
  width: 100%;
  text-align: center; /* Zentrierter Text */
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #CAD178; /* Farbe Citron */
}

button {
  background-color: #603140; /* Farbe Eggplant */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Übergangseffekte */
  margin-top: 1rem; /* Abstand zwischen den Buttons */
  display: block; /* Buttons untereinander anordnen */
  width: 100%; /* Volle Breite */
}

button:hover {
  background-color: #957964; /* Farbe Beaver beim Hover */
  transform: scale(1.05); /* Vergrößerungseffekt beim Hover */
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #333; /* Dunkler Hintergrund für Eingabefelder */
  color: #fff;
}

input::placeholder {
  color: #D3D57C; /* Farbe Straw für Platzhaltertext */
}
